<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ringlerr.callplus">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application>
        <activity
            android:name=".InstaActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Transparent"></activity>
        <activity
            android:name=".NewDialogActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".CusADialogActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".CusBDialogActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".CallBackDialogActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".SlideDialogActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".SlideDialogActivityTwo"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".SlideDialogActivityThree"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".SlideDialogActivityImage"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".SlideDialogActivityVideo"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Transparent" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".DialogActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Transparent" />

        <receiver
            android:name="com.ringlerr.callplus.PhonecallReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <!--This part is inside the application-->
        <receiver android:name="com.ringlerr.callplus.CallReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>